<?xml version='1.0' encoding='utf-8'?>
<plugin id="hgplugin-hello" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>HGHello</name><js-module name="HGHello" src="www/HGHello.js"><clobbers target="cordova.plugins.HGHello" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="HGHello"><param name="ios-package" value="HGHello" /></feature></config-file><source-file src="src/ios/HGHello.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="HGHello"><param name="android-package" value="hgplugin-hello.HGHello" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/HGHello.java" target-dir="src/hgplugin-hello/HGHello" /></platform></plugin>